.pixel-blast-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  display: block;
}
